:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #0f172a;
}

.page {
  color: white;
  padding: 0 1rem;
  background: #ffffff;
  &__box {
    min-height: 60px;
    background: #0f172a;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    // border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    // &-data {
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    // }
  }
  color: #94a3b8 !important;

}
.mat-divider {
  border-top-width: 2px;
  border-color: white;
}


.mycontent{
  width: 80%;
}

mat-toolbar{
  width: 100%;
}
