
<mat-nav-list>
  <div class="logo py-4">
   <mat-icon >book</mat-icon>
   <span style="color:snow;">YIRIWA -<span style="color: tomato;">SEWA</span></span>
  </div>
  <mat-divider></mat-divider>
  <mat-card-header>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  </mat-card-header>
  <mat-card-content>
    <a mat-list-item routerLinkActive="list-item-active" >
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active">
      <mat-icon>book</mat-icon> blbla
    </a>
    <a mat-list-item routerLinkActive="list-item-active">
      <mat-icon>person_add</mat-icon> blbla
    </a>

    <a mat-list-item routerLinkActive="list-item-active">
      <mat-icon>transfer_within_a_station</mat-icon> blbla
    </a>

    <a mat-list-item routerLinkActive="list-item-active">
      <mat-icon>history</mat-icon> blbla
    </a>
    <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a> -->
  </mat-card-content>
</mat-nav-list>
